$brasileis: #b82f00;
$IBMSerifFont: 'IBM Plex Serif', serif;
$IBMSansSerifFont: 'IBM Plex Sans', sans-serif;

.featuredCard {
  border: none !important;
  background: #fff !important;
}
.textShadaw {
  text-shadow: #000 1px 1px 8px;
}
.brTitle {
  font-family: 'IBM Plex Serif', serif !important;
  font-size: 2em !important;
  line-height: 1.5em !important;
  word-break: normal !important;
  font-weight: bold !important;
}
.brTitleSmall {
  font-family: 'IBM Plex Serif', serif !important;
  line-height: 1.5em !important;
  word-break: normal !important;
  font-weight: bold !important;
}
.brCardText {
  font-family: 'IBM Plex Sans', sans-serif !important;
  color: #555 !important ;
  font-size: 16px !important;
}
.brCardSubTitle {
  font-style: italic !important;
  font-family: 'IBM Plex Serif', serif !important;
}
.realTimeTitle {
  color: $brasileis !important;
}
